{% extends 'base.html' %}
{% csrf_token %}
{% block head %}
<title>Profile</title>
{% endblock %}

{% block nav %}
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-end">
      <a class="navbar-brand" href="#">Home</a>

      <div class="collapse navbar-collapse flex-grow-0 ml-auto" id="navbarSupportedContent">
          <ul class="navbar-nav text-right">
              <li class="nav-item active">
                  <a class="nav-link" href="/forecast/logout">Logout</a>
              </li>
          </ul>
      </div>
    </nav>
{% endblock %}

{% block body %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<!--{% load static %}-->
<script type="text/javascript" src="{% static 'forecast/js/weather.js' %} "></script>

<div class="container">
    <div id="Data_Table_Cont">
        </div>
</div>
{% endblock %}
