{% extends 'base.html' %}
{% csrf_token %}
{% block head %}
<title>Profile</title>
{% endblock %}

{% block nav %}
    <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">Logged In Page</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li><a href="/forecast/logout">Logout</a></li>
          </ul>
    </div>
{% endblock %}

{% block body %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<!--{% load static %}-->
<script type="text/javascript" src="{% static 'forecast/js/weather.js' %} "></script>

<div class="container">
    <div id="Data_Table_Cont">
        </div>
</div>
{% endblock %}